/*BASE STYLES*/
html {
  font-size: 16px;
}
body {
  font-family: montserrat, arial, sans-serif;
  margin: 0;
  line-height: 1.2em;
  font-weight: 500;
  color: #2b2b2b;
}
h1,
h2,
h3,
p,
a,
input,
select,
textarea {
  margin: 0;
}

/*STYLES*/
body {
  width: 100%;
  background: url(https://images.unsplash.com/photo-1590105577767-e21a1067899f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1100&q=80)
    no-repeat fixed;
  background-position: top;
  background-size: cover;
  margin: 0;
  padding-bottom: 1.5em;
}
.container {
  width: 100%;
}
/*HEADER STYLES*/
#header-div {
  text-align: center;
  padding: 0.2em 0 2em 0;
  margin: 0 auto;
  color: white;
}
#title {
  font-size: 10vw;
  font-family: 'Staatliches';
  line-height: 1.4em;
  text-shadow: 2px 4px 4px black;
}
#description {
  font-size: 6vw;
  font-family: 'Staatliches';
  line-height: 1em;
  text-shadow: 2px 4px 4px black;
}
/*GENERAL FORM STYLES*/
#form-div {
  background-color: rgba(250, 250, 250, 0.86);
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  border-radius: 7px;
  padding: 0.5em 1em;
  font-size: 1em;
}
.form-field-group {
  margin: 1.5em auto;
  width: 90%;
}
label {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: flex-start;
}
div:focus {
  outline: none;
}
input:focus,
select:focus,
textarea:focus {
  outline: none;
  background-color: #fcfcfc;
}

/*TEXT AND NUMBER FIELD STYLES*/
.form-field {
  padding: 5px 0px;
  margin: 0;
  width: 100%;
}
.line {
  width: 95%;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  background: #ffffff;
  padding: 10px;
  font-size: 0.9em;
  font-family: montserrat, arial, sans-serif;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

/* DROPDOWN STYLES */
#dropdown-external-div {
  width: 100%;
}
.dropdown-label {
  margin: 5px 0;
}
#dropdown-internal-div {
  position: relative;
  border-radius: 5px;
  color: grey;
  font-size: 0.9em;
  font-weight: 400;
}
div#dropdown-external-div select {
  display: none;
}
.selected-option {
  background-color: #fff;
}
/* Arrow inside the select element */
.selected-option:after {
  position: absolute;
  content: '';
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-color: grey transparent transparent transparent;
}
/* Arrow when select box is open (active): */
.selected-option.selected-active:after {
  border-color: transparent transparent grey transparent;
  top: 6px;
}
/* items (options), including the selected item styles */
.option div,
.selected-option {
  padding: 8px 16px;
  cursor: pointer;
  border-radius: 5px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}
/* items styles */
.option {
  position: absolute;
  background-color: #fff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
  border-radius: 5px;
  color: black;
}
.hide-option {
  display: none;
}
.option div:hover,
.other-selected {
  background-color: rgba(0, 0, 0, 0.03);
}

/*RADIO AND CHECKBOX STYLES*/
input[type='checkbox'],
input[type='radio'] {
  display: inline-block;
  margin: 1em 0.625em 1em 0em;
  min-height: 1.4em;
  min-width: 1.4em;
}

/*RADIO-BUTTONS STYLES*/
span.selected-radio {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  min-height: 1.4em;
  min-width: 1.4em;
  border: solid 1px #e0dcdb;
  border-radius: 50%;
}
.selected-radio:after {
  background-color: #df3b70;
  content: '';
  position: absolute;
  min-height: 1.4em;
  min-width: 1.4em;
  border-radius: 50%;
  display: none;
  border: solid white 4px;
  box-sizing: border-box;
}
input[type='radio']:checked ~ .selected-radio:after {
  display: block;
}

/*CHECKBOX STYLES*/
span.checkmark {
  background-color: #fff;
  display: inline-block;
  position: absolute;
  min-height: 1.4em;
  min-width: 1.4em;
  border: solid 1px #e0dcdb;
  border-radius: 5px;
}
input[type='checkbox']:checked ~ .checkmark {
  background-color: #df3b70;
}
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
input[type='checkbox']:checked ~ .checkmark:after {
  display: block;
}

/*TEXT-AREA STYLES*/
#text-area-field {
  width: 90%;
}
#text-area-field p {
  width: 95%;
  margin-bottom: 1em;
}
textarea {
  resize: none;
  min-height: 8em;
  min-width: 100%;
  font-family: montserrat, arial, sans-serif;
  border: 1px solid;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/*BUTTON STYLES*/
#button-div {
  width: 60%;
  height: 3em;
  max-height: 5em;
  margin: 1em auto;
  display: flex;
  justify-content: center;
}
button {
  width: 100%;
  max-width: 300px;
  height: 100%;
  background-color: #df3b70;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 6vw;
  font-weight: 700;
  margin: 0 auto;
}
button:hover {
  background-color: #e5507f;
  font-size: 6.5vw;
}
button:focus {
  outline: none;
  background: radial-gradient(#d60040 0%, #df3b70 50%);
  border: solid 2px #d60040;
}

/*MEDIA QUERYS*/
@media (min-width: 430px) {
  #title {
    font-size: 8vw;
    line-height: 1.4em;
  }
  #description {
    font-size: 4vw;
    line-height: 1em;
  }
  button {
    font-size: 1.5em;
  }
  button:hover {
    font-size: 1.6em;
  }
}
@media (min-width: 640px) {
  #title {
    font-size: 4.5vw;
    line-height: 1.4em;
  }
  #description {
    font-size: 2.5vw;
    line-height: 1em;
  }
}
@media (min-width: 748px) {
  #title {
    font-size: 3.5em;
    line-height: 1.4em;
  }
  #description {
    font-size: 1.5em;
    line-height: 1em;
  }
}
@media (min-width: 1175px) {
  #form-div {
    max-width: 800px;
  }
}
